{
	"root": true,
	"extends": [
		"xo/esnext",
		"plugin:ava/recommended",
		"prettier"
	],
	"plugins": [
		"ava",
		"html",
		"prettier"
	],
	"rules": {
		"new-cap": [
			2,
			{
				"capIsNewExceptions": [
					"Polymer",
					"MutableData",
					"nodecg.Replicant",
					"NodeCG.Replicant",
					"t.context.apis.extension.Replicant",
					"window.dashboardApi.Replicant"
				]
			}
		],
		"prettier/prettier": [
			2,
			{
				"singleQuote": true,
				"semi": false
			}
		]
	},
	"env": {
		"browser": true
	},
	"globals": {
		"nodecg": "readonly"
	}
}
